<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>shoping cart</title>
</head>
<style type="text/css">
    .name a.truefirst {
      color:blue
    }
    .name a.truelast {
      color:blue
    }
    .name a.truemiddle {
      color:#f00
    }
 </style>
<body>
	<div ng-controller="StudentList">
	  <ul>
	    <li ng-repeat="student in students">
	      <span class="index">{{$index+1}}</span>
	      <span class="name">
	      	<a href="/student/view/{{student.id}}" class="{{$first}}first {{$last}}last {{$middle}}middle">{{student.name}}</a>
	      </span>
	      <span class="score">{{student.score}}</span>
	    </li>
	  </ul>
	  <button ng-click="insertDog()">添加</button>
	  <button ng-click="delLast()">删除</button>
	</div>
</body>
<script type="text/javascript" src="../angular.js"></script>
<script type="text/javascript" src="myApp.js"></script>
</html>